.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button:after {
    font-size: 32px;
    opacity: 0;
}

body.et_button_custom_icon #page-container .et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button:after {
    font-size: 20px;
}

.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0 .et_pb_slide_description {
    text-align: center;
}

.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0 .et-pb-slider-arrows a {
    color: #86754d
}

.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button:hover:after {
    opacity: 1;
}

.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button:hover {
    border-color: #ffffff !important;
    letter-spacing: 0px;
    padding-left: 0.7em;
    padding-right: 2em;
}

body.ie .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide {
    -moz-background-size: auto;
    -webkit-background-size: auto;
    background-size: auto;
}

.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_slide_description .et_pb_slide_title {
    font-size: 36px;
    color: #86754d !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_slide_content {
    color: #808080 !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button {
    color: #ffffff !important;
    background: #86754d !important;
    letter-spacing: 0px;
    font-size: 20px;
}

.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0 .et_pb_slide {
    -moz-background-size: initial;
    -webkit-background-size: initial;
    background-size: initial;
}

.et_divi_builder #et_builder_outer_content .et_pb_section_1.et_pb_section {
    background-color: #ffffff !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_text_2 {
    font-size: 15px;
    background-color: #b71622;
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_text_3 {
    font-size: 15px;
    position: relative;
}

.et_divi_builder #et_builder_outer_content .et_pb_row_2 {
    padding-top: 2.5em;
    padding-right: 14%;
    padding-bottom: 2.5em;
    padding-left: 14%;
    background-color: #e3e0dd;
}

.et_divi_builder #et_builder_outer_content .et_pb_text_4 {
    font-size: 15px;
}

.et_divi_builder #et_builder_outer_content .et_pb_row_1 {
    font-size: 0.85rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.et_divi_builder #et_builder_outer_content .et_pb_text_1 {
    position: relative;
}

.et_divi_builder #et_builder_outer_content .et_pb_section_1 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.et_divi_builder #et_builder_outer_content .et_pb_row_0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.et_divi_builder #et_builder_outer_content .et_pb_text_0 h1 {
    color: #86754d !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_text_0 {
    font-size: 15px;
    background-color: #e6e6e6;
    overflow: hidden;
    height: 100%;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2 {
    -moz-background-size: initial;
    -webkit-background-size: initial;
    background-size: initial;
}

.et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slider_with_text_overlay .et_pb_slide_content {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slider_with_text_overlay .et_pb_slide_content {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button {
    color: #ffffff !important;
    background: #86754d !important;
    font-size: 20px;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button:hover {
    padding-left: 0.7em;
    padding-right: 2em;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button:hover:after {
    opacity: 1;
}

.et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slider_with_text_overlay h2.et_pb_slide_title {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

body.et_button_custom_icon #page-container .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button:after {
    font-size: 20px;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button:hover {
    padding-left: 0.7em;
    padding-right: 2em;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button:hover:after {
    opacity: 1;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button:after {
    font-size: 32px;
    opacity: 0;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button:after {
    font-size: 32px;
    opacity: 0;
}

body.et_button_custom_icon #page-container .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button:after {
    font-size: 20px;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button:after {
    font-size: 32px;
    opacity: 0;
}

body.et_button_custom_icon #page-container .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button:after {
    font-size: 20px;
}

.et_divi_builder #et_builder_outer_content .et_pb_slide_2 .et_pb_container {
    text-align: center;
}

.et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slider_with_text_overlay h2.et_pb_slide_title {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button:hover:after {
    opacity: 1;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button:hover {
    padding-left: 0.7em;
    padding-right: 2em;
}

.et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slider_with_text_overlay h2.et_pb_slide_title {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slider_with_text_overlay .et_pb_slide_content {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button {
    color: #ffffff !important;
    background: #86754d !important;
    font-size: 20px;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button {
    color: #ffffff !important;
    background: #86754d !important;
    font-size: 20px;
}

.et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1 .et_pb_slide_description .et_pb_slide_title {
    color: #86754d !important;
}

@media only screen and ( max-width: 980px) {
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button:hover {
        letter-spacing: 0px;
    }
    .et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button,
    .et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button:after {
        letter-spacing: 0px;
    }
    .et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button:hover {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button,
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button:after {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button:hover {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button:hover {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button,
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button:after {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button,
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button:after {
        letter-spacing: 0px;
    }
}

@media only screen and ( max-width: 767px) {
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button:hover {
        letter-spacing: 0px;
    }
    .et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button,
    .et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button:after {
        letter-spacing: 0px;
    }
    .et_divi_builder #et_builder_outer_content .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button:hover {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button,
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_2.et_pb_slide .et_pb_button:after {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button:hover {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button:hover {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button,
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_1.et_pb_slide .et_pb_button:after {
        letter-spacing: 0px;
    }
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button,
    .et_pb_slider .et_divi_builder #et_builder_outer_content .et_pb_slide_0.et_pb_slide .et_pb_button:after {
        letter-spacing: 0px;
    }
}
