.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    line-height: 2.25em;
    padding: 1em 2em 1em 18.5em;
    margin: 0 0 .5em;
    position: relative;
    background-color: lighten($secondary, 5%);
    color: $secondarytext;
    border-top: 3px solid $primary;
    list-style: none outside;
    @include clearfix();
    width: auto;
    word-wrap: break-word;

    &::before {
        font-family: 'WooCommerce';
        content: '\e028';
        display: inline-block;
        //position: absolute;
        top: 1em;
        left: 16.5em;
        vertical-align: middle;
        margin-right: 4px;
    }

    .button {
        float: right;
    }

    li {
        list-style: none outside !important; // Required for default theme compatibility
        padding-left: 0 !important; // Required for default theme compatibility
        margin-left: 0 !important; // Required for default theme compatibility
    }
}

.woocommerce-message {
    border-top-color: $primary;

    &::before {
        content: '\e015';
        color: $primary;
    }
}

.woocommerce-info {
    border-top-color: $primary;

    &::before {
        color: $primary;
    }
}

.woocommerce-error {
    border-top-color: $primary;

    &::before {
        content: '\e016';
        color: $primary;
    }
}