.banner{
	&,& a{color:#6f6f6e;text-decoration: none;}
	border-bottom: 6px solid #86754d;
	position:relative;
	.first-line{
		font-size: .65rem;
		margin: 0px 15px;
		overflow: hidden;
		.left{ float:left;position: relative;
top: 8px;}
		.right{ float:right;

		}
		@include media-query(palm)
		{
			margin: .5rem 72px 0 1rem;
		}
	}
	#responsive_menu_pro_button{
		right:30px;
		&.responsive_menu_pro_admin_bar_showing{ margin-top:0;}
	}
	.account-link,.cart-icon-container,#responsive_menu_pro_search{
		display: inline-block;
		vertical-align: top;
	}
	.account-link{
		margin: 12px 19px 0px 0;		
	}
	.cart-icon-container{
		margin: 0 19px 0 0;
	}
	#responsive_menu_pro_search{
		margin-top: 8px;
		.fa{ 
			margin: 1px 1px 0 0; 
			&:before{
				font-size: 1rem;
				font-weight: 300;
			}
		}
	}
	#responsive_menu_pro_search_input{
		border: none;
		border-bottom: 1px solid;
		padding: 1px 2px;
	}
	.container{		
		padding: 1px 2rem 0 3.3rem;width: 100%;
		font-size: 1rem;
		width:100%;
		.claim{ color:#86754d;font-weight: 300;margin-bottom: 32px;
letter-spacing: .86px;}
		.logo{ 
			top: .5rem;
			position: absolute;
			z-index: 10;
			max-width: 33%;
			>a>img{ width:100%;}
		}
	}
}
.nav-container {
    margin-left: 219px;
	line-height: 1.2;
	top: 4px;
	position: relative;
	margin-right: 172px;
	margin-bottom: 24px;
}
.nav-primary{
	.nav{
		margin: .75rem 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	.menu-item{
		display:inline-block;
		text-transform: uppercase;
	}
}

@include media-query(palm)
{	
	.banner{
		.container{ margin: 0 3%;}
		.nav-container{ margin-left: 37%;}

		.left,.right,.nav-primary{ display:none;}
	}
}
@media(max-width: 26.875em ){
	.claim{ margin-top :0;}
}