.banner{
	&,& a{color:#6f6f6e;text-decoration: none;}
	border-bottom: 3px solid #86754d;
	position:relative;
	.first-line{
		font-size: .8rem;
		margin: .5rem 1rem 0;
		.left{ float:left;}
		.right{ float:right;
		>*{margin:0 .5rem;}

		}
		@include media-query(palm)
		{
			margin: .5rem 72px 0 1rem;
		}
	}
	#responsive_menu_pro_button{
		right:30px;
		&.responsive_menu_pro_admin_bar_showing{ margin-top:0;}
	}
	.account-link,.cart-icon-container,#responsive_menu_pro_search{
		display: inline-block;
	}
	.container{		
		clear:both;
		font-size: 1rem;
		position: relative;
		
		margin: 0 4rem;
		.claim{ color:#86754d;font-weight: 300;}
		.logo{ 
			float:left;
			position: absolute;
			z-index: 10;
			max-width: 33%;
			>a>img{ width:100%;}
		}
	}
}
.nav-container {
    margin-left: 200px;
}
.nav-primary{
	.nav{
		margin: .75rem 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	.menu-item{
		display:inline-block;
	}
}

@include media-query(palm)
{	
	.banner{
		.container{ margin: 0 3%;}
		.nav-container{ margin-left: 37%;}

		.left,.right,.nav-primary{ display:none;}
	}
}
#responsive_menu_pro[style]{
	z-index: 9999;
	padding: 0;
	.responsive_menu_pro_append_link{
		border-left: none;
	}
	.menu-item.menu-item-has-children:hover {
    .responsive_menu_pro_append_link,>a{
    cursor: pointer;
    background: #d3d3d3;
    color: #86754d;
    	
    }
	}
}
.menu-item.menu-item-has-children{
	.sub-menu{ padding-left: 0; margin-bottom: .5rem;
		>li>a{ padding-left: 5px; }
	}
}
#responsive_menu_pro_button{
	z-index: 9998;
}

@media(max-width: 26.875em ){
	.claim{ margin-top :0;}
}
@media(max-width: 420px ){
	.banner .container .claim{ display:none; margin:0;}
	.banner .container .logo{ position:static; margin: 0 auto; float:none;}
	.banner .container{ min-height: 100px;}
}
#responsive_menu_pro.responsive_menu_pro_admin_bar_showing {
    padding-top: 0;
    margin-top:32px;
}
@media(max-width: 782px){
	#responsive_menu_pro.responsive_menu_pro_admin_bar_showing {
    margin-top: 46px;
}
}